<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="main.css">
    <script src="sorttable.js"></script>
    <title>Finances</title>
  </head>
  <body>
    <div class="container">
    <h1>Finances</h1>

    {% for year in dataset.years | reverse %}
    <h2>{{year.index}}</h2>

    <div><canvas id="chart-{{year.index}}"></canvas></div>

    <table class="table table-sm table-striped table-hover sortable">
      <thead>
        <tr>
          <th scope="col">Category</th>
          {% for month in months %}
          <th scope="col">
            <a href="transactions-{{month.value}}-{{year.index}}.html">
              {{month.name}}
            </a>
          </th>
          {% endfor %}
          <th scope="col">Year total</th>
          <th scope="col">Year average</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for category in categories %}
        <tr>
          <th scope="row">{{category.name}}</th>
          {% for month in year.months %}
          <td sorttable_customkey="{{month.total_amount(category)}}">
            {{"£{:,.2f}".format(month.total_amount(category))}}
          </td>
          {% endfor %}
          <td sorttable_customkey="{{year.total_amount(category)}}">
            <strong>{{"£{:,.2f}".format(year.total_amount(category))}}</strong>
          </td>
          <td sorttable_customkey="{{year.average_amount(category)}}">
            <strong>{{"£{:,.2f}".format(year.average_amount(category))}}</strong>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr class="table-primary">
          <th scope="row">Balance</th>
          {% for month in year.months %}
          <td><strong>{{"£{:,.2f}".format(month.balance())}}</strong></td>
          {% endfor %}
          <td><strong>{{"£{:,.2f}".format(year.balance())}}</strong></td>
          <td>-</td>
        </tr>
      </tfoot>
    </table>
    {% endfor %}

    </div>
    <script src="bundle.js"></script>
    <script>
      {% for year in dataset.years | reverse %}
      const ctx_{{year.index}} = document.getElementById('chart-{{year.index}}');

      new Chart(ctx_{{year.index}}, {
        type: 'bar',
        data: {
          labels: [{% for month in months %} '{{month.name}}', {% endfor %} ],
          datasets: [
          {% for category in categories %}
          {
            label: '{{category.name}}',
            data: [
              {% for month in year.months %}
              {{month.total_amount(category)}},
              {% endfor %}
            ],
            borderWidth: 1
          },
          {% endfor %}
          ]
        },
        options: {
          responsive: true,
          interaction: {
            intersect: false,
          },
          scales: {
            x: {
              stacked: true,
            },
            y: {
              stacked: true,
              ticks: {
                  // Include a pound sign in the ticks
                  callback: function(value, index, ticks) {
                      return '£' + value;
                  }
              }
            }
          },
          plugins: {
            legend: {
              position: 'right',
            },
          },
        }
      });
      {% endfor %}
    </script>

  </body>
</html>
